<div *ngIf="song">

    <div class="mt-3 mb-3">
        <h4>{{song.artist}}</h4>
        <h2>{{song.title}}</h2>
    </div>

    <div class="structure d-flex">
        <div *ngFor="let section of song.sections; let i = index" [ngClass]="getSectionName(section.title)" class="bars bars-{{section.bars}} pt-3 pb-3 pl-1 pr-1" [ngStyle]="{'width': section.bars / getTotal() * 100 + '%'}">
            <div class="section-title text-ellipsis my-1">
                {{section.title}}
            </div>
            <div>
                {{section.bars}}
            </div>
            <div class="section-position">
                {{getPosition(i)}}
            </div>
        </div>
    </div>

    <div class="mt-3">
        <h5>Total: {{ getTotal() }} bars</h5>
    </div>

    <song-form [songDetail]="song" [actionMenu]="true" (formChanges)="formChanges($event)"></song-form>

</div>