<form #heroForm="ngForm" [formGroup]="addForm" novalidate (ngSubmit)="onSubmit(addForm)">
    <app-search *ngIf="!hideSearch" (trackID)="trackID($event)"></app-search>
    
    <div class="form-panel">
        <div *ngIf="editSongMeta" class="song-meta">
            <div class="form-group">
                <label for="name">Song Title</label>
                <input type="text" class="form-control" id="title" required [formControl]="addForm.controls['title']" name="title"> 
            </div>
            <div class="form-group">
                <label for="artist">Artist</label>
                <input type="text" class="form-control" id="artist" required [formControl]="addForm.controls['artist']" name="artist">
            </div>
            <div class="form-group">
                <label for="spotifyID">Spotify Track ID</label>
                <input type="text" class="form-control" id="spotifyID" [formControl]="addForm.controls['spotifyID']" name="spotifyID">
            </div>
        </div>
        <div *ngIf="editSections" #scrollSections formArrayName="sections" class="sections">
            <div *ngFor="let address of addForm.controls.sections.controls; let i=index">
                <div class="d-flex justify-content-between">
                    <span class="text-muted">Section {{i + 1}}</span>
                    <span *ngIf="addForm.controls.sections.controls.length > 1"><a (click)="removeSection(i)"><i class="far fa-trash-alt"></i></a></span>
                </div>
                <div [formGroupName]="i" class="row">
                    <div class="col-2 pr-2">
                        <input class="form-control mb-3" type="text" placeholder="Section Title" formControlName="title">
                    </div>
                    <div class="col-2 pl-2 pr-2">
                        <input class="form-control mb-3" type="number" placeholder="Bars" formControlName="bars">
                    </div>
                    <div class="col-2 pl-2 pr-2">
                        <select class="form-control mb-3" type="text" placeholder="Space" formControlName="space">
                            <option value="" selected="selected" disabled>Space</option>
                            <option id="0" value="Dry">Dry</option>
                            <option id="1" value="Reverberant">Reverberant</option>
                        </select>
                    </div>
                    <div class="col-2 pl-2 pr-2">
                        <select class="form-control mb-3" type="text" placeholder="Texture" formControlName="texture">
                            <option value="" selected="selected" disabled>Texture</option>
                            <option id="0" value="Sparse">Sparce</option>
                            <option id="1" value="Dense">Dense</option>
                        </select>
                    </div>
                    <div class="col-2 pl-2 pr-2">
                        <select class="form-control mb-3" type="text" placeholder="Melody Range" formControlName="melody_range">
                            <option value="" selected="selected" disabled>Melody Range</option>
                            <option id="0" value="Narrow">Narrow</option>
                            <option id="1" value="Wide">Wide</option>
                        </select>
                    </div>
                    <div class="col-2 pl-2">
                        <input class="form-control mb-3" type="text" placeholder="Lead Instrument" formControlName="lead_instrument">
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <button type="button" class="btn btn-primary" (click)="addSection()">
            <i class="fas fa-plus-circle"></i> Add Section
        </button>
        <div *ngIf="actionMenu" ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>More</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button type="button" class="dropdown-item" (click)="editSections = !editSections">
                    <span *ngIf="!editSections">
                        Edit Sections
                    </span>    
                    <span *ngIf="editSections">
                        <strong><i class="fas fa-fw fa-check"></i> Edit Sections</strong>
                    </span>
                </button>
                <button type="button" class="dropdown-item" (click)="editSongMeta = !editSongMeta">
                    <span *ngIf="!editSongMeta">
                        Edit Song Details
                    </span>
                    <span *ngIf="editSongMeta">
                        <strong><i class="fas fa-fw fa-check"></i> Edit Song Details</strong>
                    </span>
                </button>
                <button type="button" class="dropdown-item" (click)="handleDelete()">Delete Song</button>
            </div>
        </div>
    </div>
    <button type="submit" [disabled]="!addForm.valid" class="btn btn-success">Save</button>
</form>