/* You can add global styles to this file, and also import other style files */

html {
  font-size: 16px;
}

body {
  margin: 20px;
}

.bars {
  background: #eee;
  border-top: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  justify-content:center;
  align-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.80rem;
}

.bars:nth-child(2) {
  border-left: 1px solid #aaa;
}

.bar-length-input input {
  max-width: 75px;
}

.chorus {
  background-color: #b2dfdb;
}

.verse {
  background-color: #bbdefb;
}

.bridge {
  background-color: #dcedc8;
}

.intro {
  background-color: #ede7f6;
}

.break {
  background-color: #c5cae9;
}

.prechorus {
  background-color: #b2ebf2;
}

.form-panel {
  max-height: 280px;
  overflow-y: auto;
  overflow-x: hidden;
}

.bars {
  position: relative;
}

.section-position {
  position: absolute;
  top: 0;
  font-size: 0.5rem;
  opacity: 0.6;
}

.section-title {
  font-size: 10px;
  height: 15px;
  text-transform: uppercase;
}

.section-details {
  font-size: 10px;
}

.section-detail {
  height: 15px;
  margin-bottom: 1px;
  text-transform: uppercase;
}

.section-detail:nth-child(odd) {
  background: rgba(0,0,0,0.05);
}

.section-detail:nth-child(even) {
  background: rgba(0,0,0,0.01);
}


.section-bar-length {
  font-size: 0.8rem;
  height: 20px;
}

.spotify-results {
  position: absolute;
  max-height: 40vh;
  overflow: auto;
  box-shadow: 3px 4px 10px rgba(0,0,0,0.15);
}

.spotify-results a:hover {
  cursor: pointer;
}