/* You can add global styles to this file, and also import other style files */


body {
  margin: 2em;
}


.bars {
  background: #eee;
  border-top: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

.bars:first-child {
  border-left: 1px solid #aaa;
}

.bar-length-input input {
  max-width: 75px;
}